%section.forgot_password.container
  .row
    .span10.offset1
      = form_tag passwords_path, :html => {:class => "sign_in"} do
        %header
          %h1 Forgot Password?
          %p We will send you an email with a link that you can use to reset your password.
        %fieldset
          = label_tag :email, "Email Address"
          = email_field_tag :email
        %fieldset.action
          = submit_tag "Send Email", :class => "btn"
