---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Account%3A%20cathy%40example.com&email=cathy%40example.com&plan=month_member&card=tok_1034sW2zh8gd9TollsmLwURb
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1386413807,
          "id": "cus_34sWuV7UDV95Px",
          "livemode": false,
          "description": "Account: cathy@example.com",
          "email": "cathy@example.com",
          "delinquent": false,
          "metadata": {},
          "subscription": {
            "id": "sub_34sWi1qJcswZ6z",
            "plan": {
              "interval": "month",
              "name": "monthly membership",
              "amount": 999,
              "currency": "usd",
              "id": "month_member",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1386413807,
            "status": "active",
            "customer": "cus_34sWuV7UDV95Px",
            "cancel_at_period_end": false,
            "current_period_start": 1386413807,
            "current_period_end": 1389092207,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_34sWuV7UDV95Px/cards",
            "data": [
              {
                "id": "card_1034sW2zh8gd9TolsoPMFihS",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "0Jf6MM8vFKQi3321",
                "customer": "cus_34sWuV7UDV95Px",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1034sW2zh8gd9TolsoPMFihS"
        }
  recorded_at: Sat, 07 Dec 2013 10:56:51 GMT
recorded_with: VCR 2.8.0
