!!! 5
%html(lang="en-US")
  %body
    %header
      %h1 MyFLiX
    %p Welcome to myflix.com, #{@user.full_name}

    %p You have successfully signed up to myflix.com, your username is: #{@user.email} .

    %p To login to the site, just follow this link: #{ link_to "sign in here", sign_in_url(host: "myflix.com") }

    %p Thanks for joining and have a great day!

    %p= image_tag attachments['oggy.jpg'].url

    %footer
      &copy 2013 MyFLiX

