---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1032FW2zh8gd9Tol1As2aC5A&description=Sign%20up%20charge%20for%3A%20oswaldo.zieme%40rippin.com
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1032FW2zh8gd9TolOlPOiYcV",
          "object": "charge",
          "created": 1385807435,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1032FW2zh8gd9TolUeX0SaQB",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 8,
            "exp_year": 2017,
            "fingerprint": "0Jf6MM8vFKQi3321",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1032FW2zh8gd9Tols4lASluH",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for: oswaldo.zieme@rippin.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Sat, 30 Nov 2013 10:30:38 GMT
recorded_with: VCR 2.8.0
