---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1032Fs2zh8gd9TolTD5CY2Ct&description=Sign%20up%20charge%20for%3A%20gail.schinner%40ratkewolf.info
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1032Fs2zh8gd9TolPNP0yZMd"
          }
        }
  recorded_at: Sat, 30 Nov 2013 10:53:13 GMT
recorded_with: VCR 2.8.0
