---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Account%3A%20deonte_predovic%40eichmann.name&email=deonte_predovic%40eichmann.name&plan=month_member&card=tok_1034sS2zh8gd9TolJ6jheAIW
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Sat, 07 Dec 2013 10:53:09 GMT
recorded_with: VCR 2.8.0
