---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: description=Account%3A%20mitchell%40koch.info&email=mitchell%40koch.info&plan=month_member&card=tok_1034sS2zh8gd9TolJZENhUGI
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1386413577,
          "id": "cus_34sSO9LLP0QB9x",
          "livemode": false,
          "description": "Account: mitchell@koch.info",
          "email": "mitchell@koch.info",
          "delinquent": false,
          "metadata": {},
          "subscription": {
            "id": "sub_34sStfLTdP3uVJ",
            "plan": {
              "interval": "month",
              "name": "monthly membership",
              "amount": 999,
              "currency": "usd",
              "id": "month_member",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1386413577,
            "status": "active",
            "customer": "cus_34sSO9LLP0QB9x",
            "cancel_at_period_end": false,
            "current_period_start": 1386413577,
            "current_period_end": 1389091977,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_34sSO9LLP0QB9x/cards",
            "data": [
              {
                "id": "card_1034sS2zh8gd9TolTnojc8S1",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "0Jf6MM8vFKQi3321",
                "customer": "cus_34sSO9LLP0QB9x",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1034sS2zh8gd9TolTnojc8S1"
        }
  recorded_at: Sat, 07 Dec 2013 10:53:02 GMT
recorded_with: VCR 2.8.0
