- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to category.name, category_path(category)
    .videos.row
      - window = 0
      - category.videos.shuffle!.each do |video|
        - window += 1
        .video.span2
          = link_to video_path(video) do
            = image_tag video.small_cover if window <= 6
