---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=11&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1031Ry2zh8gd9TolZaeodm6V",
          "livemode": false,
          "created": 1385623145,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1031Ry2zh8gd9TolIFwLO6D0",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "0Jf6MM8vFKQi3321",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 28 Nov 2013 07:19:05 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1031Ry2zh8gd9TolZaeodm6V&description=Sign%20up%20charge%20for%3A%20test_mode%40example.com
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1031Ry2zh8gd9TolsJa2W8dN",
          "object": "charge",
          "created": 1385623146,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_1031Ry2zh8gd9TolIFwLO6D0",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "0Jf6MM8vFKQi3321",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_1031Ry2zh8gd9TolEiJRg280",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for: test_mode@example.com",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Thu, 28 Nov 2013 07:19:06 GMT
recorded_with: VCR 2.8.0
