---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=11&card[exp_year]=2016&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1032Bw2zh8gd9TolHZ1hRLjk",
          "livemode": false,
          "created": 1385794136,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1032Bw2zh8gd9Tolyi09TWMc",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2016,
            "fingerprint": "8FeEHrslouH2imED",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sat, 30 Nov 2013 06:49:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_1032Bw2zh8gd9TolHZ1hRLjk&description=Sign%20up%20charge%20for%3A%20test_mode%40example.com
    headers:
      Authorization:
      - Bearer sk_test_oMlhXvNQok7zm1EtNzAhkaAJ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_1032Bw2zh8gd9TolrOQMPbVo"
          }
        }
  recorded_at: Sat, 30 Nov 2013 06:49:01 GMT
recorded_with: VCR 2.8.0
