%section.genre
  %header.clearfix
    %h1= @category.name
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
    - 30.times do
      .video.span2
        - video = @videos.shuffle!.first
        = link_to video_path(video) do 
          =image_tag video.small_cover
